/figs/
/Debug/
/Makefile
/anchorwave
/cmake_install.cmake
/CMakeCache.txt
/cmake-build-debug/
/CMakeFiles/
/googletest/googletest/CMakeFiles/
/googletest/googletest/cmake_install.cmake
/googletest/googletest/libgtest.a
/googletest/googletest/libgtest_main.a
/googletest/googletest/libgtest_maind.a
/googletest/googletest/libgtestd.a
/googletest/googletest/Makefile
*.log
*.a
*.o
/googletest/googletest/CMakeFiles/
/.idea
/googletest/googletest/gtest.cbp
